
html {
  font-size: 14px;
  /*font-family: 'Arial', sans-serif;*/
  max-width: 1200px;
  background-color: white;
  box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

button {
display:inline-block;
font-family:'Nunito', sans-serif;   
}

h1 {
font-family: 'Shrikhand', cursive;
padding: 0 1rem;
}

h2 {
font-family:'Nunito', sans-serif;   
}

li, p {
font-family: 'Nunito', sans-serif;   
padding: 0 0 0 1rem;
}


#previous-page {
display: inline-block;
margin-left: 1rem;
margin-bottom: 1.5rem;
border: 2px solid black;
border-radius: 5px;
background-color: #F5DF4D;
/*background-color: green;*/
/*border-radius: 20%;*/
}

#next-page {
display: inline-block;
margin-left: 0.5rem;
margin-bottom: 1.5rem;
border: 2px solid black;
border-radius: 5px;
background-color: #F5DF4D;
/*background-color: purple;*/
/*border-radius: 20%;*/
}

#next-page:active{
background-color:white;
}

#previous-page:active{
background-color:white;
}

.header {
background-color:  #F5DF4D;
margin-bottom: -1.2rem;
/*border: 0.1rem solid black;*/
}

.card {
background-color: rgba(232, 236, 241, 0.5);

}

.card {
  display: grid;    
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  justify-items: center;
  padding: 1rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  
  /*border: 0.1rem solid black;*/
}

.card h2 {
 text-align: center;
 height: 50%;
 padding: 20% 0 25% 0;
 margin: 0 auto;
 /*border: 0.4rem solid black;*/
}


img {
width: 100%;    
margin: 0 auto;
}

p {
grid-area: 1 / 4 / 2/ 6;
}
/*ul {*/
/*display: block;*/
/*}*/

/* li {*/
/* display: inline-block;*/
/* padding: 0 1rem;*/
/* border: 0.4rem solid black;*/
/*}*/

/*.people li {*/
/* display: inline-block;*/
/* padding: 0 1rem;*/
/* border: 0.4rem solid black;*/
/*}*/

/*ul .other li {*/
/* display: inline-block;*/
/* padding: 0 1rem;*/
/*  border: 0.4rem solid black;*/
/*}*/

/*p {*/
/* display: inline-block;*/
/*}*/